<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form accept-charset="UTF-8" action="/users/new" method="get">
    <label for="username">User:</label>
    <input type="text" id="username" name="user">
    <label for="email">Email:</label>
    <input type="string" id="email" name="email">
    <label for="password">Password:</label>
    <input type="password" id="password" name="pword" minlength="8" required>
  </form>
</body>
</html>
